.navBar {
  background-color: #181818;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  .logo {
    margin: 0;
    a {
      color: inherit;
      text-decoration: inherit;
    }
  }

}
