.infoContainer {
  display: flex;
  justify-items: center;
  align-items: center;
  flex: 1;
  .info {
    display: flex;
    flex: 1;
    gap: 5rem;
    padding-top: 5vh;
    justify-content: center;
    .poster {
      width: 400px;
      height: 600px;
    }
    .textInfo {
      width: 1000px;
      display: flex;
      flex-direction: column;
      .name {
        display: inline-block;
        font-size: 2rem;
        margin: 0;
      }
      .secondary {
        color: rgb(190, 190, 190);
      }
      .infoLabel {
        color: #a6ffb2;
      }
      .description {
        margin-top: 1rem;
        line-height: 1.5;
        .descriptionText{
          margin-top: .2rem;
        }
      }
    }
  }
}
