.card {
  width: 20rem;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  img{
    height: 474px;
  }
  .info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .mainInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h3 {
      margin: 0;
    }
    .gen {
      color: gray;
    }
  }
}
