.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    
    .message {
        font-size: 18px;
        color: #a6ffb2;
    }
}


