.header {
  font-weight: bold;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  .sort {
    display: flex;
    gap: 1rem;
    user-select: none;
    .sorter {
      background: none;
      color: inherit;
      border: none;
      font: inherit;
      outline: inherit;
      cursor: pointer;
      &:hover {
        color: #a6ffb2;
      }
    }
    .sorted {
      color: #a6ffb2;
    }
  }
}
